@main("About"){
       <h2>About Us</h2>
        <p class="abouthead">[BRAND NAME] is based in South Dublin and is home to the finest street wear money can buy!</p>
        <p id="abouttext">Established in 2016, we were formed by 4 entrepreneurs tired of overpriced and bad quality clothing. 
        After many trials and errors, [BRAND NAME] was born. Our first store in the heart of South Dublin, Tallaght, comprised mainly of T-Shirts 
        and Hooded Sweatshirts. Due to our phenomenal success and praise we have since branched out to supply a wide range of high quality clothing 
        such as T-Shirts, Hooded Sweatshirts, Tracksuits and Footwear.</p>
        <p id="abouttext"> [SOMETHING ABOUT HOW INSPO OUR NAME IS]</p>
        <p id="abouttext">Having won Retail Excellence Irelands' Lifestyle Store of the Year 2017 and being nominated in the Fashion & Clothing Category 2017 by Online Retail Award and Best in Class 2017 by Customer Service Excellence Ireland and with a further 2 stores due to open soon, 
        Dundrum Town Centre, just in time for Christmas and Grafton Street, Dublin City Centre, in the first quarter of 2017, we look forward to what
        the future will bring.</p>
        <p id="abouttext">With our online presence growing by the day 200,000+ fans combined from both Facebook and Twitter tuning in daily for news and updates and our monthly interactive competitions. [SOMETHING ABOUT EXPANDING TO EUROPE AND AMERICA]
}