@main("Contact"){
  <h2>Contact Us</h2>

    <h4 class="contacthead">Have a problem? Please fill in the online customer service form below for a quick response.</h4>
    <!--<h4 class="contacthead">Is it urgent? Contact us directly:</br></h4><h5> Phone: 01-4578964 </br> Email: info_[BRANDNAME].ie</h5>
    <h5>Available: </br> 09:00 - 17:00	 Monday to Friday </br> 10:00 - 16:00 Saturday & Sunday</h5>  --> 
				   
<form class="form-horizontal">
<fieldset>



<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">First Name</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required>
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Last Name</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Your Email</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required>
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Subject</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required>
    
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Comment</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="textarea" name="textarea" required></textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-success">Submit </button>
  </div>
</div>

</fieldset>
</form>

}
