@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
<head>
	<title>@title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="script.js"></script>
	<link href='@routes.Assets.at("stylesheets/main.css")' rel="stylesheet" alt="cascading" >
</head>



<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
			<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>                        
						</button>
					</div>
					<div class="collapse navbar-collapse" id="myNavbar">
						<ul class="nav navbar-nav">
							<li @if(title == "Home"){ class="active";}><a href="/">Home</a></li>
							<li @if(title == "Products"){ class="active";}><a href="/prod">Products</a></li>
							<li @if(title == "About"){ class="active" ;}><a href="/about">About</a></li>
							<li @if(title == "Contact"){ class="active" ;}><a href="/contact">Contact Us</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<!--<li @if(title == "Sign Up"){ class="active" ;}><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
							<li @if(title == "Sign In"){ class="active" ;}><a href="/signin"><span class="glyphicon glyphicon-user"></span> Sign In</a></li> -->
							<li @if(title == "Account"){class = "active";)}><a href="/account"><span class="glyphicon glyphicon-user"></span>Account</a></li>
							<li @if(title == "Cart"){ class="active" ;}><a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
						</ul>
					</div> 
				</div>
			</nav>
		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			@content
		</div>
		<div class="col-md-2">
		</div>
	</div>
	</br>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
			<div class="col-md-12">
				<div class="panel-body">
					
						&copy 2016 SKAS Clothing Inc. 
					
					<div class="footersocial">
						<a href="https://twitter.com/SKASClothing" class="twitter-follow-button" data-show-count="false">Follow SKASClothing</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>
</body>
</html>



