@main("Sign Up"){

<div class="text-center">
	<div class="forms">
		<form>
			<input type="text" name="firstname" placeholder="Enter First Name"></br></br>
			<input type="text" name="lastname" placeholder="Enter Last Name"></br></br>
			<input type="text" name="email" placeholder="Enter Email Address"><br></br>
			<input type="password" name="password" placeholder="Enter Password"><br></br>
			<input type="password" name="passwordconfirm" placeholder="Confirm Password"><br></br>
			<input type="submit" value="Submit"><br>
		</form>
	<p> Already have an account?<a href="/signin">Sign In</a> </p>
	</div>
</div>

}
